.nav-link {
  color: rgb(255, 255, 255) !important;
  }
.navbar-brand{
  color: rgb(0, 0, 0) !important;
}
.btn{
  color: rgb(255, 255, 255) !important;
}

.navbar-warning .navbar-nav > li > a:hover,
.navbar-warning .navbar-nav > li > a:focus {
    color:  black !important;
}
